/* opening-hours.css */

/* Style for the opening hours section */
#opening-hours-section {
    background-image: url('https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809908/opensign_x6isu3.jpg');
    background-size: cover; /* Make the background image cover the entire section */
    background-position: center;
    color: white; /* Set text color to white for better visibility */
    padding: 100px 0; /* Add padding to the top and bottom */
    text-align: center; /* Center align text */
}

/* Style for the text content within the opening hours section */
#opening-hours-content {
    max-width: 800px; /* Limit the width of the text content */
    margin: 0 auto; /* Center the text content horizontally */
}

/* google-map.css */

/* Style for the Google Map container */
#google-map {
    width: 100%; /* Ensure the map container takes up the full width */
    height: 400px; /* Set a fixed height for the map container */
    margin: 0 auto; /* Center the map horizontally */
}

/* contact-info.css */

/* Style for the contact information container */
.contact-info {
    background-color: #f0f0f0; /* Light gray background color */
    padding: 20px; /* Add padding around the content */
    border-radius: 10px; /* Add rounded corners */
    font-family: sans-serif; /* Set font family to sans-serif */
    transition: background-color 0.3s; /* Smooth transition on hover */
}

/* Style for the contact information header */
.contact-info h1 {
    margin-top: 0; /* Remove default top margin */
}

/* Hover effect */
.contact-info:hover {
    background-color: #e0e0e0; /* Darker gray background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    font-family: sans-serif; /* Change font to sans-serif */
}

header nav {
    display: inline-block;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    margin-left: 10px;
}

header li:first-child {
    margin-left: 0;
}

header a {
    text-decoration: none;
    color: #333;
}

/* Style for the home navigation link box */
.home-link-box2 {
    display: inline-block;
    padding: 10px;
    background-color: #007bff; /* Blue background color */
    color: #000; /* Black font color */
}

/* Hover effect for the home navigation link box */
.home-link-box2:hover {
    background-color: #0056b3; /* Darker blue on hover */
}