/*styles.css*/
/* Resetting default margin and padding */
html, body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Setting up base font and colors */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

/* Header styles */
.header {
    background-size: cover;
    background-position: center;
    color: black; 
    text-align: center; 
    height: 50vh; /* Change height here */
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    text-align: center; 
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section styles */
section {
    padding: 50px 0;
    text-align: center;
}

section h1, section h2 {
    margin-bottom: 20px;
}

.gallery img {
    width: 200px; /* Set width for the images */
    height: 150px; /* Set height for the images */
}




/* Footer styles */
footer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    background-color: #333;
    color: #fff;
    padding: 20px; /* Adjust padding here */
    margin-top: auto; /* Push footer to the bottom */
    width: 100%; /* Ensure footer spans the entire width */
    position: fixed; /* Fixed position to stick at the bottom */
    left: 0;
    bottom: 0;
    text-align: center; /* Center-align text */
}

.social-icons {
    margin-bottom: 70px; /* Add margin between social icons and copyright text */
}

.social-icons a {
    margin: 0 30px; /* Set margin around social icons */
}

.social-icons img {
    width: 70px; /* Set width for the icons */
    height: 70px; /* Set height for the icons */
}
