/* Resetting default margin and padding */
html, body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Setting up base font and colors */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

/* Header styles */
.header {
    background-size: cover;
    background-position: center;
    color: black; 
    text-align: center; 
    height: 30vh; /* Change height here */
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    text-align: center; 
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section styles */
section {
    padding: 50px 0;
    text-align: center;
}

section h1, section h2 {
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    display: flex; 
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 20px; /* Adjust padding here */
    margin: 50px 80px; /* Adjust margin here */
    text-align: left; /* change align here */
}

.social-icons {
    display: flex; 
    align-items: center; 
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

/* Facebook icon */
.facebook-icon {
    background-image: url("https://res.cloudinary.com/dh5i9qtjf/image/upload/v1709145560/facebook_si0l95.png");
    width: 30px;
    height: 30px;
}

/* Instagram icon */
.instagram-icon {
    background-image: url("https://res.cloudinary.com/dh5i9qtjf/image/upload/v1709145560/instagram_kywtcn.png");
    width: 30px;
    height: 30px;
}
