<!-- home.html -->


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE FORK RESTAURANT</title>
    <!--  CSS styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <style>
        header {
            background-size: cover;
            background-position: center;
            color: white; 
        }
    </style>
</head>
<body>
    <!--  navigation within header -->
    <header class="header">
        <h1> THE FORK RESTAURANT</h1>
        {% include 'navigation.html' %}   
    </header>
    
    <!-- Home section -->
    <section id="home">
        <h1>Welcome to The Fork Restaurant</h1>
        <p>Where all palates will have a wonderful time tasting all the delicacies 
            made from the freshest and finest ingredients! Our aim is to make your dining
            experience a memorable one!!
        </p>
        <a href="{% url 'menu' %}">View Our Menu</a>
        <!-- About Section -->
        <h2>About Us</h2>
        <p>Our restaurant was founded by two Famous Chef that has decided to create a fusion of menus that will excite both your eyes and your palate. The Menus </p>
        <p>We are located in the heart of Stockholm but the restaurant building is an Old Castle dating back in the 1900's</p>
    </section>

    <!-- Gallery -->
    <section id="gallery">
        <h2>Gallery</h2>
        <div class="gallery">
            <!-- Add your gallery content here -->
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809877/icecream_ouue3d.jpg" alt="icecream_ouue3d" width="200" height="150">
            <img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809892/lecheflan_jq6fa7.jpg" alt="lecheflan_jq6fa7" width="200" height="150">
            <!-- Add more images as needed -->
        </div>
    </section>
    

    <!-- JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var header = document.querySelector('.header');
            var imageUrl = 'https://res.cloudinary.com/dh5i9qtjf/image/upload/v1708809874/fork.jpg';
            header.style.backgroundImage = 'url(' + imageUrl + ')';
        });
    </script>

    <!-- Footer section -->
        <footer>
            <div class="social-icons">
                <a href="https://www.facebook.com/your-facebook-page"><img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1709145560/facebook_si0l95.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/your-instagram-page"><img src="https://res.cloudinary.com/dh5i9qtjf/image/upload/v1709145560/instagram_kywtcn.png" alt="Instagram"></a>
            </div>
            <p>&copy; 2024 THE FORK. All rights reserved.</p>
        </footer>
        
</body>
</html>
